body {
  font-family: Afacad, sans-serif;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}
th {
  padding: 6px;
  text-align: centre;
}
td {
  padding: 3px;
  padding-left: 12px;
  text-align: centre;
}
